<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="colorlib">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>reservation</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!--
         CSS
         ============================================= -->
    <link rel="stylesheet" href="/css/linearicons.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/jquery-ui.css">
    <link rel="stylesheet" href="/css/nice-select.css">
    <link rel="stylesheet" href="./css/animate.min.css">
    <link rel="stylesheet" href="./css/owl.carousel.css">
    <link rel="stylesheet" href="./css/main.css">
    <style>
      table {
        width: 100%;
        border-top: 1px solid #444444;
        word-break: break-all;
      }
      th, td {
        border-bottom: 1px solid #444444;
        padding: 5px;
        text-align: center;
      }
      th {
        font-size: 18px;
        background-color: #f8b600;
        color: white;
      }
      thead tr {
        font-size: 15px;
        background-color: #f8b600;
        color: #bbdefb;
      }
      tbody tr:nth-child(2n) {
        background-color: #bbdefb;
      }
      tbody tr:nth-child(2n+1) {
        background-color: #e3f2fd;
      }
    </style>
</head>

  <body>
    <!-- #header -->
    <%include header.html%>
    
    <!-- start banner Area -->
    <section class="relative about-banner">
      <div class="overlay overlay-bg"></div>
      <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
          <div class="about-content col-lg-12">
            <h1 class="text-white">
              예약 확인
            </h1>
          </div>
        </div>
      </div>
    </section>

    <form action="/admin_reservation_list" method="post">
      <section class="post-content-area single-post-area">
        <div class="container">
          <div class="row">
          
            <table class="table-header-group" width="100%" border="0">
              <tr>
                <th colspan = "3">패키지명</th> 
                <th>출발일</th>
                <th>도착일</th>
                <th>여행일수</th>
                <th>탑승객 수</th>
                <th>총 가격</th>
                <th>결제상태</th>
              </tr>
              <script type="text/javascript" language="javascript">
            function checkAll(source){
                var checkboxes  = document.getElementsByName("mycheck");
                console.log(checkboxes);
                for (var checkbox in checkboxes) { 
                  checkbox.checked = source.checked;
                }  
            }
          </script>
              <tbody>
                <%
                for(var i=0;;i++){
                  var res = reservation[i];
                  if(res == undefined){
                    break;
                  }
                  for(var j=0;;j++){
                    if(reservation[i].package_id == package[j].package_id){
                      var pack = package[j];
                      break;
                  }
                  }
                %>
                <tr>
                  <td><input type="radio" name="reserve_id" value=<%=res.reserve_id%>></td>
                  <td width="200px"><img class="img-fluid" style="width: 100%; height: auto;" src="../img/packages/<%=pack.package_img%>" alt=""></td>
                  <td><a href="/product/<%=pack.package_id%>" ><%=pack.package_name%></td> 
                  <td><%=pack.package_start%></td>
                  <td><%=pack.package_arrive%></td>
                  <td><%=pack.package_term%></td>
                  <td><%=res.reserve_people%></td>
                  <td><%=res.reserve_price%> 만원</td>
                  <td width="10%"><script>
                      var res_st = "";
                      if(<%=res.reserve_status%> == 0){
                        res_st += "예약 완료";
                      }
                      else if(<%=res.reserve_status%> == 1){
                        res_st += "결제완료(판매자 수락중)";
                      }
                      else if(<%=res.reserve_status%> == 1){
                        res_st += "결제 완료";
                      }
                      else {
                        res_st += "관리자 \"홍지\"를 찾아보아요";
                      }
                      
                      document.write(res_st);
                  </script>
                  </td>
                </tr>
              </tbody>
              <%}%>
            </table>
          </div>
          
        </div>
      </section>
      <section class="post-content-area single-post-area">
        <div class="col-lg-12" align="center">
          <button class="genric-btn primary e-large" type="submit" name="delete" align="center">삭제하기</button>
        </div>
      </section>
    </form>
  </body>
</html>
