<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
  <!-- Mobile Specific Meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Favicon-->
  <link rel="shortcut icon" href="../img/fav.png">
  <!-- Author Meta -->
  <meta name="author" content="colorlib">
  <!-- Meta Description -->
  <meta name="description" content="">
  <!-- Meta Keyword -->
  <meta name="keywords" content="">
  <!-- meta character set -->
  <meta charset="UTF-8">
  <!-- Site Title -->
  <title>여행상품 자세히</title>

  <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!--
    CSS
    ============================================= -->
    <link rel="stylesheet" href="../css/linearicons.css">
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/magnific-popup.css">
    <link rel="stylesheet" href="../css/jquery-ui.css">
    <link rel="stylesheet" href="../css/nice-select.css">
    <link rel="stylesheet" href="../css/animate.min.css">
    <link rel="stylesheet" href="../css/owl.carousel.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../js/includeHTML.js">
    
  </head>
  <body>
    <!-- #header -->
    <% include header.html%>
    <!-- start banner Area -->
    
    <section class="relative about-banner">
      <div class="overlay overlay-bg"></div>
      <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
          <div class="about-content col-lg-12">
            <h1 class="text-white">
              <%=rows[0].package_id%>
            </h1>
            <p class="text-white link-nav"><a href="/index">패키지 </a>  <span class="lnr lnr-arrow-right"></span><a href="blog-home">국가 </a> <span class="lnr lnr-arrow-right"></span> <a href="blog-single"> 상품 보기</a></p>
          </div>
        </div>
      </div>
    </section>
    
    <!-- End banner Area -->

    <!-- Start post-content Area -->
    <form action="/product/<%=rows[0].package_id%>" method="post" onsubmit="return onWriteSubmit()">
    <section class="post-content-area single-post-area">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 posts-list">
            <div class="single-post row">
              <div class="col-lg-12">
                <div class="feature-img">
                  <img class="img-fluid" src="../img/packages/<%=rows[0].package_img%>" alt="">
                </div>
              </div>
              <div class="col-lg-3  col-md-3 meta-details">
                <ul class="tags">
                  <li><a href="#">Food,</a></li>
                  <li><a href="#">Technology,</a></li>
                  <li><a href="#">Politics,</a></li>
                  <li><a href="#">Lifestyle</a></li>
                </ul>
                <div class="user-details row">
                  <p class="user-name col-lg-12 col-md-12 col-6">
                    <a href="#">
                      <%=rows[0].package_validity%>
                    </a>
                    <span class="lnr lnr-user"></span>
                  </p>
                  <p class="date col-lg-12 col-md-12 col-6">
                    <a href="#">출발일:
                      <%=rows[0].package_start%>
                    </a>
                    <span class="lnr lnr-calendar-full"></span>
                  </p>
                  <p class="date col-lg-12 col-md-12 col-6">
                    <a href="#">도착일:
                      <%=rows[0].package_arrive%>
                    </a>
                    <span class="lnr lnr-calendar-full"></span>
                  </p>
                  <p class="view col-lg-12 col-md-12 col-6">
                    <a href="#">
                      <%=rows[0].package_validity%>
                    </a>
                    <span class="lnr lnr-eye"></span>
                  </p>
                  <p class="comments col-lg-12 col-md-12 col-6">
                    <a href="#">06 -> 추가</a>
                    <span class="lnr lnr-bubble"></span>
                  </p>
                  <ul class="social-links col-lg-12 col-md-12 col-6">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-github"></i></a></li>
                    <li><a href="#"><i class="fa fa-behance"></i></a></li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-9 col-md-9">
                <h3 class="mt-20 mb-20"><%=rows[0].package_name%></h3>
                    <div>
                     조회수:  
                      <script>
                        var star = <%=rows[0].package_hit %>;
                        for (var i = 0; i < star; i++) {
                          if (i < star) {
                            document.write('<span class="fa fa-star checked"></span>');
                          }
                        }
                      </script>
                     <%=rows[0].package_hit %> 회
                    </div><br>
                <p><h5>특가 상품은 다 모였다~ 저렴한 가격으로 알찬 일정 즐기기!!<h5></p>
                <div align="right">
                <select name="validity" id="validity">
                  <script>
                    var line ="";
                    for (var i = 1; i-1 < <%=rows[0].package_validity%>; i++) {
                      line += '<option value="';
                      line += i;
                      line += '">';
                      line += i + "명";
                      line += '</option>';
                      }
                      document.write(line);
                  </script>
                </select>
                  <h3 class="mt-20 mb-20">
                  <%=rows[0].package_cost%>만원</h3>
                  <button class="genric-btn primary e-large" type="submit" name="payment" align="right">예약하기</button>
                  <input type="hidden" name="package_id" value="<%=rows[0].package_id%>">
                  <input type="hidden" name="reserve_start" value="<%=rows[0].package_start%>">
                  <input type="hidden" name="reserve_arrive" value="<%=rows[0].package_arrive%>">
                  <input type="hidden" name="reserve_price" value="<%=rows[0].package_cost%>">
                </div>
                </div>
              <div class="excert">
                <div class="quotes">
                  <br><h4>예약시 유의사항</h4>
                  <p >
                      <%=rows[0].package_explanation%><br>
                  </p>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 sidebar-widgets">
            <div class="widget-wrap">
              <div class="single-sidebar-widget user-info-widget">
                <img src="../img/profile.png" style="width: 180px; height: 150px;" alt="">
                <a href=""><h4>판매자 ID: <%=seller[0].seller_id%></h4></a>
                <a href=""><h4>판매자 이름: <%=seller[0].seller_name%></h4></a>
                <p>
                  HP: <%=seller[0].seller_phone%><br>
                  E-mail: <%=seller[0].seller_email%><br>
                  계좌: <%=seller[0].seller_account%>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section></form>
    <!-- End post-content Area -->

    <!-- start footer Area -->
    <% include footer.html%>
    <!-- End footer Area -->

      <script src="../js/vendor/jquery-2.2.4.min.js"></script>
			<script src="../js/popper.min.js"></script>
			<script src="../js/vendor/bootstrap.min.js"></script>			
			<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>		
 			<script src="../js/jquery-ui.js"></script>					
  		<script src="../js/easing.min.js"></script>			
			<script src="../js/hoverIntent.js"></script>
			<script src="../js/superfish.min.js"></script>	
			<script src="../js/jquery.ajaxchimp.min.js"></script>
			<script src="../js/jquery.magnific-popup.min.js"></script>						
			<script src="../js/jquery.nice-select.min.js"></script>					
			<script src="../js/owl.carousel.min.js"></script>							
			<script src="../js/mail-script.js"></script>	
			<script src="../js/main.js"></script>	
  </body>
</html>